<div class="parallax-container">
  <div #parallax class="parallax indigo"><img [src]="parallaxImageUrl" /></div>

  <div class="section">
    <div class="container">
      <h1 class="header center white-text light text-darken-4 animated bounceInLeft">Rozhon Ivan</h1>

      <div class="row center"><img class="responsive-img circle" [src]="profileImageUrl" /></div>

      <div class="row center animated bounceInRight">
        <h5 class="header col s12 light white-text">Frontend Developer</h5>
      </div>
    </div>
  </div>
</div>

<div class="section indigo">

  <div class="container">
    <div class="row">
      <h2 class="white-text">About</h2>
    </div>

    <div class="row">
      <div class="col s12 m4 animated fadeIn delay-1s white-text">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">work</i></h2>
          <h5 class="center">Job</h5>

          <p class="light center">
            Frontend Developer at Make <br />
            <a class="indigo-text text-lighten-3" target="_blank" href="https://www.make.com/">make.com</a>
          </p>
        </div>
      </div>

      <div class="col s12 m4 animated fadeIn delay-2s white-text">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">lightbulb_outline</i></h2>
          <h5 class="center">Skills</h5>

          <p class="light center">Angular, AngularJS, TypeScript, JavaScript, RxJS, NgRx, Sass, Git, Flutter, Dart</p>
        </div>
      </div>

      <div class="col s12 m4 animated fadeIn delay-3s white-text">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">directions_run</i></h2>
          <h5 class="center">Interests</h5>

          <p class="light center">family, squash, TRX, hiking, reading (Raymond Elias Feist, Andrzej Sapkowski)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <h2>Personal projects</h2>
    </div>

    <div class="row">
      <div class="col s12 m4 animated fadeIn delay-3s">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">code</i></h2>
          <h5 class="center">http-mocks</h5>

          <p class="light center">
            HTTP mocking library primarily targeted for the Angular applications. <br />
            <a class="indigo-text text-lighten-1" target="_blank" href="https://www.npmjs.com/package/http-mocks">npmjs.com/package/http-mocks</a>
          </p>
        </div>
      </div>

      <div class="col s12 m4 animated fadeIn delay-2s">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">smartphone</i></h2>
          <h5 class="center">Smarty Wedding Planner</h5>

          <p class="light center">
            Android/iOS application that keeps all the important wedding information in one place. <br />
            <a class="indigo-text text-lighten-1" target="_blank" href="https://play.google.com/store/apps/details?id=net.rozhon.swg">Google Play</a>
            <br>
            <a class="indigo-text text-lighten-1" target="_blank" href="https://apps.apple.com/app/id1481597360">App Store</a>
          </p>
        </div>
      </div>

      <div class="col s12 m4 animated fadeIn delay-1s">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">web</i></h2>
          <h5 class="center">Web Solunka</h5>

          <p class="light center">
            Website for the Zlatnické středisko praktického vyučování Solunka, spol. s r.o. <br />
            <a class="indigo-text text-lighten-1" target="_blank" href="http://www.solunka.cz/">solunka.cz</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4 animated fadeIn delay-1s">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">code</i></h2>
          <h5 class="center">Light web server</h5>

          <p class="light center">
            Simple web server using PHP built-in web server. <br />
            <a class="indigo-text text-lighten-1" target="_blank" href="https://www.npmjs.com/package/light-web-server">npmjs.com/package/light-web-server</a>
          </p>
        </div>
      </div>

      <div class="col s12 m4 animated fadeIn delay-2s">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">smartphone</i></h2>
          <h5 class="center">QR/BC Scanner</h5>

          <p class="light center">
            Android application made with Ionic. <br />
            <a class="indigo-text text-lighten-1" target="_blank" href="https://github.com/ivan-rozhon/scanner">github.com/ivan-rozhon/scanner</a>
          </p>
        </div>
      </div>

      <div class="col s12 m4 animated fadeIn delay-3s">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">web</i></h2>
          <h5 class="center">Web PP 53</h5>

          <p class="light center">
            Website for the company PP 53, a.s. <br />
            <a class="indigo-text text-lighten-1" target="_blank" href="http://pp53.cz/">pp53.cz</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">


    </div>
  </div>
</div>

<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <h2>Other</h2>
    </div>

    <div class="row center">
      <div class="col l6 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="indigo-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/ivanrozhon/"
              >linkedin.com/in/ivanrozhon</a
            >
          </li>
          <li>
            <a class="indigo-text text-lighten-3" target="_blank" href="https://github.com/ivan-rozhon/"
              >github.com/ivan-rozhon</a
            >
          </li>
        </ul>
      </div>

      <div class="col l6 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="indigo-text text-lighten-3" href="mailto:ivan.rozhon@gmail.com">ivan.rozhon@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container center">
      Made by <a class="indigo-text text-lighten-3" href="https://rozhon.net">Ivan Rozhon</a>
    </div>
  </div>
</footer>
