<!-- <div #fixedActionBtn class="fixed-action-btn">
  <a class="btn-floating btn-large indigo">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div> -->

<div class="section">
  <div class="container">
    <h2 class="header center indigo-text light">Rozhon Ivan</h2>
    <div class="row center">
      <h5 class="header col s12 light">Web developer</h5>
    </div>
    <div class="row center">
      <img class="responsive-img circle" [src]="imageUrl">
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">work</i></h2>
          <h5 class="center">Job</h5>

          <p class="light center">Web developer at Trask solutions a.s. (<a class="indigo-text text-lighten-1" target="_blank"
              href="https://www.trask.cz/">trask.cz</a>)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">lightbulb_outline</i></h2>
          <h5 class="center">Skills</h5>

          <p class="light center">AngularJS/Angular, Typescript, Javascript, RxJS, Sass, Less, Git</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">directions_run</i></h2>
          <h5 class="center">Interests</h5>

          <p class="light center">squash, HEAT, TRX, hiking, reading (Raymond Elias Feist, Andrzej Sapkowski)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer indigo">
  <div class="container">
    <div class="row center">

      <div class="col l6 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="indigo-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/ivanrozhon/">linkedin.com/in/ivanrozhon</a></li>
          <li><a class="indigo-text text-lighten-3" target="_blank" href="https://github.com/ivan-rozhon/">github.com/ivan-rozhon</a></li>
        </ul>
      </div>

      <div class="col l6 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="indigo-text text-lighten-3" href="mailto:ivan.rozhon@gmail.com">ivan.rozhon@gmail.com</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      Made by <a class="indigo-text text-lighten-3" href="https://rozhon.net">Ivan Rozhon</a>
    </div>
  </div>
</footer>
